@mixin days {
  background-image: linear-gradient( to right, transparent 0, transparent calc(50%), rgba(0,0,0,.1) 50%);
  background-size: calc(var(--timeline-day-width) * 2) 100%;
  background-repeat: repeat-x;
}

@mixin days_lines {
  background-image: linear-gradient( to right, transparent 0, transparent calc(100% - 2px), black 100%);
  background-size: var(--timeline-day-width) 100%;
  background-repeat: repeat-x;
}

:root{
  --space: 1em;
}

.label{
  background-color: white;
  padding: .5em .75em;
  color: black;
}
