@mixin days {
  background-image: repeating-linear-gradient(
    to right,
    var(--day-color-odd, #f0f0f0) 0,
    var(--day-color-odd, #f0f0f0) calc(var(--timeline-day-width) - 1px),
    var(--day-color-even, #e0e0e0) calc(var(--timeline-day-width)),
    var(--day-color-even, #e0e0e0) calc(var(--timeline-day-width) * 2 - 1px),
    var(--day-color-odd, #f0f0f0) calc(var(--timeline-day-width) * 2),
    var(--day-color-odd, #f0f0f0) calc(var(--timeline-day-width) * 3 - 1px),
    var(--day-color-even, #e0e0e0) calc(var(--timeline-day-width) * 3),
    var(--day-color-even, #e0e0e0) calc(var(--timeline-day-width) * 4 - 1px),
    var(--day-color-odd, #f0f0f0) calc(var(--timeline-day-width) * 4),
    var(--day-color-odd, #f0f0f0) calc(var(--timeline-day-width) * 5 - 1px),
    var(--day-color-weekend-odd, #d0d0d0) calc(var(--timeline-day-width) * 5),
    var(--day-color-weekend-odd, #d0d0d0) calc(var(--timeline-day-width) * 6 - 1px),
    var(--day-color-weekend-even, #c0c0c0) calc(var(--timeline-day-width) * 6),
    var(--day-color-weekend-even, #c0c0c0) calc(var(--timeline-day-width) * 7 - 1px)
  );
  background-size: calc(var(--timeline-day-width) * 7) 100%;
  background-repeat: repeat-x;
}

@mixin days_lines {
  background-image: linear-gradient( to right, transparent 0, transparent calc(100% - 2px), black 100%);
  background-size: var(--timeline-day-width) 100%;
  background-repeat: repeat-x;
}

:root{
  --space: 1em;
}

.label{
  background-color: white;
  padding: .5em .75em;
  color: black;
}
